


.similar-words-container {
	display: inline-flex;
	flex-direction: row;
	align-items: center;
	width: calc(100% - 20px);
	max-width: 800px;
	padding: 10px 0px;
}
.similar-words-container .word {
		padding: 7px;
		border-radius: 3px;
		background-color: rgba(230,230,230,1);
		transition: background-color .3s;
		margin-right: 10px;
		cursor: pointer;
		color: rgba(100,100,100,1);
}
.similar-words-container .word:hover {
	background-color: rgba(200,200,200,1);
}


