textarea {
  border: 5px solid gray;
  margin: 0;
  left: 50%;
  margin-left: auto;
  margin-right: auto;
}
.article {
  width: 320px;
  padding: 10px;
  margin: 0;
  position: center;
  text-align: center;
}
body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}