/* Define style of textarea.*/
textarea {
  border: 2px solid gray;
  margin: 0;
  left: 50%;
  margin-left: auto;
  margin-right: auto;
}

/* Define the style of a div class named article.*/
.article {
	border: 2px solid black;
  width: 320px;
  padding: 10px;
  margin: 0;
  position: center;
  text-align: center;
}

/* Define the style of body. */
body {
  padding-top: 50px;
}

/* Define the style of a div class named searchbox. */
.searchbox {
  padding: 40px 15px;
  text-align: center;
}
