*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
*.toc
main-blx.bib
main.run.xml
*.aux
*.gz
*.bbl
*.blg
*.yml
Report/Main.aux
Report/Main.bbl
Report/Main.blg
Report/Main.out
Report/Main.pdf
Report/Main.synctex.gz
Report/Main.log
*.pyc
Code/Django/docker-compose.yml
