<div class="modal fade" id="about">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">Nordron-Sciinfo</h4>
      </div>

      <div class="modal-body">
        <div class="form-group">
          <label for="Howtouse">How to use</label>
          <p>
            Paste something in the search box, for example a paragraph of an article, then you can see how similar it is compared with
            other articles in this database.
          </p>
        </div>
        <div class="form-group">
          <label for="copyright">License</label>
          <p>
            This is an open-source project.
          </p>
        </div>
        <div class="form-group">
          <label for="contributor">Contributors</label>
          <p>
            Bernie Huang, Chinweze Ubadigha, Dexter Chen, Eric Chang, Eric Lee, Feng-Chun Hsia, Henry Peng, Hoang Tan, I-Chieh Lin, Jacky
            Wu, Jim Lan, Jones Hou, Karthick Mani, Kenny Hsu, Piyarul Hoque, Rahul Aditya, Ray Chang, Tan Phat, Wei, Yu-cheng
            Chen, Kenvin Lo, Dickson Lee, Rain Wu, Sareddy Reddy, Huan-wei Hsu, Paul Lin, Tam-Van Ngo, Torbjörn E. M. Nordling
          </p>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">OK</button>
      </div>
    </div>
  </div>
</div>