<div class="modal fade" id="myModal">
	<div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4 class="modal-title">Nordron-Sciinfo</h4>
        </div>

        <div class="modal-body">
          <div class="form-group">
          <label for="Howtouse">How to use</label>
            <p>
              Paste something in the search box, for example a paragraph of an article,
              then you can see how similar it is compare with other article in this database.
            </p>
          </div>
          <div class="form-group">
    		  <label for="copyright">License</label>
            <p>
              This is a open-source project.
            </p>
  		    </div>
        </div>

        <div class="modal-footer">
          <a href="#" class="btn btn-primary">OK</a>
        </div>
      </div>
    </div>
</div>