<!DOCTYPE html>
<html>
{% load static %}
<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" />
<link href="{% static 'css/ie10-viewport-bug-workaround.css' %}" rel="stylesheet" />
<script src="{% static 'js/ie-emulation-modes-warning.js' %}"></script>
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>

<head>
  <link rel="icon" href="{% static '/favicons/favicon.png' %}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title> Nordling Search Bar </title>
  <style>
    body {
      padding: 50px;
    }
  </style>
</head>

<body>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
          aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a title="Go to Nordron-Sciinfo bitbucket" class="navbar-brand" href="https://bitbucket.org/nordron/nordron-sciinfo">Nordron-Sciinfo</a>
        <!--Nav-bar Nordron-Sciinfo (to bitbucket) -->
      </div>
      <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li class="active">
            <a title="Go to the Homepage" href="/">Home</a>
          </li>
          <!--Nav-bar Home -->
          <li>
            <a title="About Nordling-Sciinfo" href="#about" data-toggle="modal" data-target="#about">About</a>
          </li>
          <!--Nav-bar About -->
          <li>
            <a title="Send an email to us" href="mailto:info@nordlinglab.org">
              <span class="glyphicon glyphicon-envelope"></span> Contact</a>
          </li>
          <!--Nav-bar Contact -->
        </ul>
      </div>
      <!--/.nav-collapse -->
    </div>
  </nav>

  <div class="container">
    <div class="col-1g-12 text-center">
      <h3>Nordling Search Bar
        <p>Try to type
          <i>something</i> and click "Search".</p>
      </h3>
    </div>
    <form action="" method="get">
       <textarea id="q" rows="5" class="form-control" name="q" onkeydown="if (event.keyCode == 13) { this.form.submit(); return false; }"></textarea>
      <!-- build a virtual textarea inside the input query tag below-->
      <div id="input-query"></div>
      <br>
      <button type="submit" class="btn btn-default">Search</button>
      <br>
      <input id="check" type="checkbox" value="1" style="padding: 2em;" name="check">Sorted by year published
      <br>
    </form>
  </div>
  <script src="{% static 'js/vendor.bundle.js' %}"></script>
  <script src="{% static 'js/index.bundle.js' %}"></script> {% include './About.html' %}

  <!-- Upload files or drag 'n' drop -->
  <div class="container">
    <div class="col-1g-12 text-center">
      <script src="//code.jquery.com/jquery-2.0.3.min.js"></script>
      <script src="{% static 'js/zeroupload.js' %}"></script>
      <div id="mydrop" onClick="ZeroUpload.chooseFiles()" style="border:3px; border-style:solid; border-width: thin; border-color:rgb(0, 162, 255); padding: 3em;">
        Drop files here! Or click to select!
      </div>

      <script>
        $(document).ready(function () {
          ZeroUpload.setURL('upload.php');

          ZeroUpload.on('complete', function (response) {
            $('#results').html('<h2>Upload Complete!</h2><pre>' + response.data + '</pre>');
          });

          ZeroUpload.init();
          ZeroUpload.addDropTarget('#mydrop');
        });
      </script>
    </div>
  </div>
  <!-- End of upload files and drag 'n' drop -->
</body>

</html>
